//baseWidth
// $pc: 1200px;
$ipadPro: 1200px;
$ipad: 812px;
$sp: 450px;

$mainFonts: "Roboto", sans-serif;

//color common
$mainColor: #e90101;
$infoColor: #131722;
//grid
$col-grid: 12;
$gutter: 10px;
$bgBold: #131722;
$bgSmooth: #1c212e;
