.p-info {
    background: url(../img/login-background.jpg);
    @include cover-background;
    padding-top: 150px;
    padding-bottom: 100px;
    &__content{
        display: flex;
        justify-content: center;
        @include breakpoint(tab){
           flex-wrap: wrap;
        }
    }
    &__left{
        width: 250px;
        @include breakpoint(tab){
            width: 100%;
            padding: 0 20px;
        }
    }
    &__avatar {
        width: 100%;
        height: 250px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px $bgSmooth;

        margin-bottom: 10px;
        img {
            border-radius: 5px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
        &__handle {
            display: flex;
            justify-content: space-between;
            button {
                width: calc(50% - 5px);
                outline: none;
                border: 1px solid #ddd;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1.1rem;
                color: white;
                height: 35px;
                border-bottom: none;
            }
            .p-info__delete{
                color: red;
            }
            .p-info__upload{
                color: #333;
            }
        }
    }
    .c-form{
        background: transparent;
        padding-top: 0;
        padding-bottom: 0;
        &__group{
            background-color: #fff;
            border-radius: 5px;
            input{
                color: #333;

            }
            &__label{
                color: #333;
            }
        }
    }
}
