.c-wl-form {
	width: 90vw;
	margin: 0 auto;
	padding: 30px 40px;
	background: rgba($color: #000000, $alpha: 0.4);
	position: relative;
	z-index: 1;
	border-radius: 5px;
	.row {
		margin-right: -5px;
		margin-left: -5px;
	}
	div[class^="col-"] {
		position: relative;
		padding: 0 5px;
	}

	@include breakpoint(tab) {
		width: 100%;
	}
	@include breakpoint(sp) {
		padding: 30px 20px;
	}
	&__title {
		margin-bottom: 30px;
		font-size: 3.6rem;
		color: #fff;
	}
	&__title-mid {
		align-self: center;
		text-align: center;
	}
	&__text {
		margin-bottom: 30px;
		font-size: 2.5rem;
		color: #fff;
	}
	&__group {
		height: 100px;
		width: 40%;
		min-width: 300px;
		margin-bottom: 20px;
		background: #333;
		position: relative;
		float: left;
		margin: 5px 5%;
		border-radius: 5px;
		&.is-focus label {
			font-size: 1.2rem;
			top: 12px;
		}
	}
	&__label {
		display: block;
		font-size: 1.6rem;
		color: #8c8c8c;
		position: absolute;
		transition: all 0.2s;
		top: 50%;
		left: 20px;
		transform: translateY(-50%);
		@include breakpoint(tab) {
			font-size: 1.2rem;
		}
	}

	&__warning {
		display: block;
		font-size: 1.2rem;
		color: orangered;
		padding-bottom: 20px;
		margin-top: -15px;
	}
	.c-btn {
		width: 100%;
		height: 50px;
		margin-top: 30px;
	}
}
